@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>Администрирование</h3>

<ul class="nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="adminCatalog">
            <span>Просмотр товаров</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="addProduct">
            <span>Добавить товар в каталог</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="manageUsers">
            <span>Управление пользователями</span>
        </NavLink>
    </li>
</ul>

@code {

}
